# ${language_titled}

[Try it Online Now!](https://sai.onl/lang_bridge/try#${language})

## JS Examples

${js_samples}

## Keywords

`${if}`: if

`${else}`: else

`${while}`: while

`${print}`: print

`${return}`: return

`${break}`: break

`${continue}`: continue

`${true}`: true

`${false}`: false

`${do}`: do

`${var}`: var

`${null}`: null

`${function}`: function

`${for}`: for

`${input}`: input